In [6]:
strdata = input("정렬할 문자를 입력하시오")
ret1 = sorted(strdata)
ret2 = sorted(strdata, reverse = True)
print(ret1)
print(ret2)

ret1 = ''.join(ret1)
ret2 = ''.join(ret2)

print('오름차순으로 정렬된 문자열은 <'+ret1+'>입니다.')
print('내림차순으로 정렬된 문자열은 <'+ret2+'>입니다.')

print(ret1)

정렬할 문자를 입력하시오a가b나c다
['a', 'b', 'c', '가', '나', '다']
['다', '나', '가', 'c', 'b', 'a']
오름차순으로 정렬된 문자열은 <abc가나다>입니다.
내림차순으로 정렬된 문자열은 <다나가cba>입니다.
abc가나다

In [10]:
strdata.isdigit()

False

In [18]:
range1 = range(10)
range2 = range(10,20)
print(list(range1))
print(list(range2))
print(range1)
range(10,20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0, 10)

range(10, 20)

In [25]:
ret = 0
for i in range(10) :
    ret = (i+1)

range(0, 10)

In [33]:
from time import sleep
for i in range(10):
    msg = '\r진행률%d%%'%(i+1)
    print(''*len(msg), end=' ')
    print(msg, end=' ')
    sleep(0.1)

진행률10%

In [42]:
solarsys = ['태양','수성', '금성', '지구', '화성', '목성', '토성', '천왕성']
planet = '지구'
sol = solarsys[0]
pos = solarsys.index(planet)

print('%s은(는) %s계에서 %d번째에 위치하고 있습니다'%(planet,solarsys[0], pos))

지구은(는) 태양계에서 3번째에 위치하고 있습니다