In [3]:
print(1 + 1)
print(2 + 2)

2
4

In [4]:
test_list = ['one', 'two', 'three']
for i in test_list :
    print(i)

one
two
three

In [19]:
a = ["a", "b", "c", "d", "e"]
for i in range(1,5) :
    for j in a :
        print("%d번은 %s입니다."%(i, j))
        i += 1
    break

1번은 a입니다.
2번은 b입니다.
3번은 c입니다.
4번은 d입니다.
5번은 e입니다.

In [21]:
a = [(1, 2), (3, 4), (5, 6)]
for (first, last) in a:
    print(first + last)

3
7
11

In [25]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks :
    number += 1
    if mark >= 60 :
        print("%d번 학생 축 합격! 하"%number)
    else :
        print("%d번 학생 불합격"%number)

1번 학생 축 합격! 하
2번 학생 불합격;;;
3번 학생 축 합격! 하
4번 학생 불합격;;;
5번 학생 축 합격! 하

In [33]:
marks = [90, 25, 67, 45, 80]

number = 0
for mark in marks :
    number += 1
    if mark < 60 :
        continue
    print("%d번 학생 합격!!"%number)

1번 학생 합격!!
3번 학생 합격!!
5번 학생 합격!!

In [37]:
marks = [90, 25, 67, 45, 80]

for number in range(len(marks)) :
    if marks[number] < 60 :
        continue
    print("%d번 학생 합격!!"%(number+1))

1번 학생 합격!!
3번 학생 합격!!
5번 학생 합격!!

In [60]:
for i in range(11,20):
    for j in range(11, 20) :
        print("%d x %d ="%(i,j),i*j)
    print('')

11 x 11 = 121
11 x 12 = 132
11 x 13 = 143
11 x 14 = 154
11 x 15 = 165
11 x 16 = 176
11 x 17 = 187
11 x 18 = 198
11 x 19 = 209

12 x 11 = 132
12 x 12 = 144
12 x 13 = 156
12 x 14 = 168
12 x 15 = 180
12 x 16 = 192
12 x 17 = 204
12 x 18 = 216
12 x 19 = 228

13 x 11 = 143
13 x 12 = 156
13 x 13 = 169
13 x 14 = 182
13 x 15 = 195
13 x 16 = 208
13 x 17 = 221
13 x 18 = 234
13 x 19 = 247

14 x 11 = 154
14 x 12 = 168
14 x 13 = 182
14 x 14 = 196
14 x 15 = 210
14 x 16 = 224
14 x 17 = 238
14 x 18 = 252
14 x 19 = 266

15 x 11 = 165
15 x 12 = 180
15 x 13 = 195
15 x 14 = 210
15 x 15 = 225
15 x 16 = 240
15 x 17 = 255
15 x 18 = 270
15 x 19 = 285

16 x 11 = 176
16 x 12 = 192
16 x 13 = 208
16 x 14 = 224
16 x 15 = 240
16 x 16 = 256
16 x 17 = 272
16 x 18 = 288
16 x 19 = 304

17 x 11 = 187
17 x 12 = 204
17 x 13 = 221
17 x 14 = 238
17 x 15 = 255
17 x 16 = 272
17 x 17 = 289
17 x 18 = 306
17 x 19 = 323

18 x 11 = 198
18 x 12 = 216
18 x 13 = 234
18 x 14 = 252
18 x 15 = 270
18 x 16 = 288
18 x 17 = 306
18 x 18 = 324
18 x 19 = 342

19 x 11 = 209
19 x 12 = 228
19 x 13 = 247
19 x 14 = 266
19 x 15 = 285
19 x 16 = 304
19 x 17 = 323
19 x 18 = 342
19 x 19 = 361

In [48]:
a = [1,2,3,4]
result = [num*3 for num in a]
print(result)

[3, 6, 9, 12]

In [50]:
a = [1,2,3,4]
result = [num *3 for num in a if num % 2 ==0]
print(result)

[6, 12]

In [58]:
a = range(1,101)
result = [num**0.5 for num in a if num % 50 ==0]
print(result)

[7.0710678118654755, 10.0]

In [61]:
result = [x*y for x in range(2,10) for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [69]:
def add_many(*args):
    result = 0
    for i in args :
        result = result + i
    return result

add_many(1,2)

3

In [15]:
def add_mul(choice, *args) :
    if choice == "add" :
        result = 0
        for i in args :
            result = result + i
    elif choice =="mul" :
        result = 1
        for i in args :
            result = result * i
    elif choice =="sub" :
        result = args[0]
        if args[0] == True:
            pass
        else :
            for i in args :
                result = result - i
            
    return result

add_mul("mul", 3, 4)
add_mul("sub", 3, 5)

-5

In [79]:
a = 1
def vartest(a):
    a = a +1

vartest(a)

print(a)

1

In [82]:
add = lambda a, b : a ** b
add(3,4)

81

In [86]:
def is_odd(a) :
    if a % 2 ==0 :
        print("짝수")
    else :
        print("홀수")

is_odd(4)

짝수

In [93]:
number = input("숫자를 입력하시오")

print(number)

숫자를 입력하시오 3

3

In [ ]:
input1 = int(input("첫번째 숫자를 입력하세요:"))
input2 = int(input("두번째 숫자를 입력하세요:"))

total = input1 + input2
print("두 수의 합은 %s 입니다" % total)

In [ ]:
class Calculator :
    def __init__(self):
        self.result = 0
    def add(self, num):
        self.result += num
        return self.result
    def sub(self, num):
        self.result -= num
        return self.result
    
cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))

print(cal2.add(5))
print(cal2.add(8))

In [ ]:
class Calculator:
    def __init__(self):
        self.result = 0

    def add(self, num):
        self.result += num
        return self.result
    def sub(self, num):
        self.result -= num
        return self.result

cal1 = Calculator()
cal2 = Calculator()

print(cal1.add(3))
print(cal1.add(4))
print(cal2.add(3))
print(cal2.add(7))