In [1]:
listdata = []

for i in range(3):
    txt = input("리스트에 추가할 값을 입력하세요!!![%d/3]:"%(i+1))
    listdata.append(txt)
    print(listdata)

리스트에 추가할 값을 입력하세요!!![1/3]:3
['3']
리스트에 추가할 값을 입력하세요!!![2/3]:5
['3', '5']
리스트에 추가할 값을 입력하세요!!![3/3]:7
['3', '5', '7']

In [3]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성']
pos = solarsys.index('목성')
solarsys.insert(pos,'소행성')
print(solarsys)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성']

In [7]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성']

del solarsys[0]
print(solarsys)

del solarsys[-2]
print(solarsys)

['수성', '금성', '지구', '화성', '목성', '토성']
['수성', '금성', '지구', '화성', '토성']

In [10]:
listdata = [2,2,1,4,5,2,3,1,2,4,5,1,2,3,6,1,2,5,1]

listdata.count(2)

del listdata

print(listdata)

NameError: name 'listdata' is not defined

In [22]:
listdata = [1,2,6,2,5,4,2,7,1,2,4]

a = sorted(listdata)
b = sorted(listdata, reverse = True)

print(a,b)

[1, 1, 2, 2, 2, 2, 4, 4, 5, 6, 7] [7, 6, 5, 4, 4, 2, 2, 2, 2, 1, 1]

In [88]:
from random import shuffle

listdata = list(range(1,11))
for i in range(10):
    shuffle(listdata)
    print(listdata)

[8, 2, 1, 5, 4, 10, 3, 9, 7, 6]
[4, 8, 10, 2, 9, 7, 1, 5, 6, 3]
[7, 5, 6, 10, 4, 3, 9, 8, 1, 2]
[4, 7, 6, 5, 2, 10, 9, 1, 3, 8]
[7, 1, 4, 9, 6, 5, 10, 3, 2, 8]
[4, 7, 3, 9, 2, 8, 10, 1, 5, 6]
[6, 2, 1, 9, 7, 4, 8, 5, 3, 10]
[1, 7, 8, 4, 6, 3, 10, 9, 2, 5]
[6, 9, 4, 2, 10, 1, 5, 7, 8, 3]
[5, 9, 3, 1, 7, 6, 4, 2, 8, 10]

10

In [100]:
solarsys = ['태양','수성','금성','지구','화성','목성','토성']

ret = list(enumerate(solarsys))

print(ret)

for i, body in ret :
    print('태양계의 %d번째 천체 : %s'%(i,body))

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성')]
태양계의 0번째 천체 : 태양
태양계의 1번째 천체 : 수성
태양계의 2번째 천체 : 금성
태양계의 3번째 천체 : 지구
태양계의 4번째 천체 : 화성
태양계의 5번째 천체 : 목성
태양계의 6번째 천체 : 토성

In [122]:
solar1 = ['태양','수성','금성','지구','화성','목성','토성']
solar2 = ['sun','Mercury','Venus','Earth','Mars', 'Jupiter', 'Saturn']

solardict = {}
for i,k in enumerate(solar1):
    var = solar2[i]
    solardict[k] = var
    
print(solardict)

{'태양': 'sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn'}

In [137]:
solar1 = ['태양','수성','금성','지구','화성','목성','토성']
solar2 = ['sun','Mercury','Venus','Earth','Mars', 'Jupiter', 'Saturn']

solardict = {}
for i,k in enumerate(solar1):
    var = solar2[i]
    solardict[k] = var
    
solardict['태양'] = 'Sun'
print(solardict)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn'}

In [145]:
solar1 = ['태양','수성','금성','지구','화성','목성','토성']
solar2 = ['sun','Mercury','Venus','Earth','Mars', 'Jupiter', 'Saturn']

solardict = {}
for i,k in enumerate(solar1):
    var = solar2[i]
    solardict[k] = var
    
del solardict['태양']

print(solardict)

{'수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn'}

In [144]:
del solardict

print(solardict)

NameError: name 'solardict' is not defined

In [142]:
solardict.clear()

print(solardict)

{}

In [164]:
ks = solardict.keys()
print(ks)

key_list = list(solardict.keys())
print(key_list)

ks_list = list(ks)
print(ks_list)

print(solardict)

for i in ks:
    print('Key: %s\tValue: %s'%(i, solardict[i]))

dict_keys(['수성', '금성', '지구', '화성', '목성', '토성'])
['수성', '금성', '지구', '화성', '목성', '토성']
['수성', '금성', '지구', '화성', '목성', '토성']
{'수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn'}
Key: 수성	Value: Mercury
Key: 금성	Value: Venus
Key: 지구	Value: Earth
Key: 화성	Value: Mars
Key: 목성	Value: Jupiter
Key: 토성	Value: Saturn